:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.9;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.mb-15{
color: white;
    margin-bottom: 1.5rem;
}
 
li {
    list-style: none;
}
 
a:link,
a:visited {
    text-decoration: none;
    color: var(--color-text-dark);
    font-weight: fw(fw-medium);
    letter-spacing: 0.2rem;
    font-size: fs(fs-xsmall);
} 
 
i {
    color: white;
    font-size: fs(fs-medium);
}