.section-about {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 90vh;
    padding: 17vh 0vw;
    // background-color: green;
}

.about-img {
    position: absolute;
    width: 36%;
    height: 400px;
    border-radius: 10px;
    left: 10%;
    outline: 10px solid var(--color-gold-white);
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            opacity: 0.6;
        }
    }

    &:hover {
        background-image: linear-gradient(rgba(255, 218, 8, 1), rgba(255, 218, 8, 1));
    }
}


.about-content {
    width: 37%;
    height: 450px;
    position: absolute;
    right: 10%;

    h3 {
        font-family: 'Cookie', cursive;
        font-size: calc(2rem + 1.7vw);
        color: var(--color-primary);
    }

    h4 {
        font-size: calc(2.7rem + 1.1vw);
        color: var(--text-color);
    }

    p {
        margin-bottom: 3rem;
        font-size: calc(0.7rem + 0.6vw);
        color: var(--text-color);
    }

    a {
        margin-top: 3rem;
        position: relative;
        z-index: 3;
        padding: 1.5rem 1.5rem;
        outline: 0.2rem solid var(--color-gold-white);
        outline-offset: 3px;
        font-size: calc(0.7rem + 0.6vw);

        letter-spacing: 0.4rem;
        background-color: var(--color-gold-white);
        text-align: center;
        animation: btnpopup 3s ease;
    }
}

.section-products {
    position: relative;
    width: 100%;
    height: 150vh;
    // background-color: rgb(24, 24, 24);

}



.products-content {
    width: 37%;
    height: 450px;
    position: absolute;
    left: 11%;
    top: 10%;

    h3 {
        font-family: 'Cookie', cursive;
        font-size: calc(2rem + 1.7vw);
        color: var(--color-gold-white);
    }

    h4 {
        color: var(--text-color);
        font-size: calc(2.7rem + 1.1vw);
    }

    p {
        margin-bottom: 4rem;
        font-size: calc(0.7rem + 0.6vw);
        color: var(--text-color);
    }

    a {
        margin-top: 3rem;
        position: relative;
        z-index: 3;
        padding: 1.5rem 1.5rem;
        outline: 0.2rem solid var(--color-gold-white);
        outline-offset: 3px;
        font-size: calc(0.7rem + 0.6vw);

        letter-spacing: 0.4rem;
        background-color: var(--color-gold-white);
        text-align: center;
        animation: btnpopup 3s ease;
    }
}



.products-card {
    position: absolute;
    top: 50%;
    left: 11%;
    width: 350px;
    height: 450px;

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 100%;
        border-radius: 10px;
    }

    &-heading {
        position: absolute;
        top: 63%;
        font-size: calc(2rem + 1.2vw);
        color: var(--text-color);
        line-height: 5rem;
        letter-spacing: 0.4rem;

    }

    &-para {
        position: absolute;
        top: 92%;
        font-size: calc(1.3rem + 1.3vh);
        letter-spacing: 0.3rem;
        color: var(--text-color);
    }

    &:nth-child(2) {
        left: 39%;
    }

    &:nth-child(3) {
        left: 67%;
    }

}

.section-cards {
    position: relative;
    width: 100%;
    height: 120vh;
}

.cards {
    top: 35%;
    left: 12%;
    background-color: var(--color-gold-white);
    width: 330px;
    height: 530px;
    outline: 5px solid var(--color-gold-white);
    box-shadow: 0 1rem 4rem rgb(220, 220, 220);
    border: 5px solid var(--color-white-gold);

    border-radius: 10px;
    position: absolute;
    transition: all 0.3s ease-in-out;

    &-img {
        position: absolute;
        width: 96%;
        top: 1%;
        left: 2%;
        height: 230px;
        border-radius: 5px;
    }

    i {
        position: absolute;
        width: 80px;
        font-size: calc(1.5rem + 2vh);
        color: brown;
        background-color: var(--color-gold-white);
        height: 80px;
        text-align: center;
        padding-top: 2.3rem;
        border-radius: 50%;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        box-shadow: 1rem 1rem 1rem rgb(24, 13, 13);
    }

    &-list {
        position: absolute;
        top: 69%;
        font-size: 2.6rem;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    &-items {
        color: var(--color-white-gold);
    }

    a {
        padding: 1rem 2rem;
        background-color: var(--color-white-gold);
        position: absolute;
        top: 90%;
        left: 50%;
        font-size: 1.5rem;
        color: var(--color-gold-white);
        font-weight: bold;
        transform: translate(-50%, -50%);
        border-radius: 10px;

    }

    &:nth-child(2) {
        left: 39.5%;
    }

    &:nth-child(3) {
        left: 67%;
    }

}

.section-heading {
    width: 40%;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
        font-size: calc(3rem + 2vh);
        color: var(--color-gold-white);
        font-family: 'Cookie', cursive;
    }

    h3 {
        font-size: calc(3rem + 2vh);
    }
}
